<template>
  <div class="about">

    The following images work as a links:<br>
      <a href="https://gitlab.com/sebascoronado">
         <img alt="Qries" src="../../public/gitlab.png" width="150" height="70">
      </a>
      <br>
      <a href="https://github.com/sebitas">
         <img alt="Qries" src="../../public/github.png" width="150" height="70">
      </a>
      <br>
      <a href="https://www.linkedin.com/in/sebastian-coronado">
         <img alt="Qries" src="../../public/linkedin.png" width="150" height="70">
      </a>
  </div>
</template>
