<template>
  <div v-if="course">
    <div>
      <h1>{{ course.title }}</h1>
      <h3> {{ course.description }}</h3>
      <h4> Some of the work done: </h4>
      <div v-for="(filename, index) in course.workdonefile" v-bind:key="index">
        <a :href="`${publicPath}${filename}`" download="download"> {{course.workdonetitle[index]}} </a>
      </div> 
    </div>
  </div>
</template>

<script>

import datacoursedetails from '../../public/coursedetails.json'

export default {
  props: ['id'],
  data() {
    return {
      course: null,
      publicPath: process.env.BASE_URL
    }
  },
  created() {
    this.course = datacoursedetails.find(item => item.id == this.id)
  }
}
</script>