<template>
  <div class="home">  
    <CourseCard v-for="course in courses" :key="course.id" :course="course" />
  </div>
</template>

<script>
// @ is an alias to /src
import CourseCard from "@/components/CourseCard.vue";
import datacourse from '../../public/courses.json'

export default {
  name: "Home",
  components: {
    CourseCard,
  },

  data() {
    return {
      courses: null,
    }
  },
  created() {
    this.courses = datacourse
  }

};
</script>
