<template>
  <div class="home">  
    <ProjectCard v-for="project in projects" :key="project.id" :project="project" />
  </div>
</template>

<script>
// @ is an alias to /src
import ProjectCard from "@/components/ProjectCard.vue";
import dataproject from '../../public/projects.json'

export default {
  name: "Projects",
  components: {
    ProjectCard,
  },

  data() {
    return {
      projects: null,
    }
  },

  created() {
    this.projects = dataproject
  }
};
</script>
