<template>
  <div v-if="project">
    <div>
      <h1>{{ project.title }}</h1>
      <h3> {{ project.description }}</h3>
      
      <div v-if="project.hasvideo">
        <iframe width="60%" height="680" :src="project.youtubeurl" frameborder="0" allowfullscreen> </iframe>
      </div>

      <div v-if="project.hasarticle" >
        <h4> Published article about this project </h4>
        <a :href="project.demoUrl"> {{project.demoUrl}} </a>  
      </div>

      <div v-if="project.hasdemo" >
        <iframe width="100%" height="680" mozallowfullscreen="true" allow="autoplay; fullscreen; geolocation; microphone; camera; midi" :src="project.demoUrl" msallowfullscreen="true" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" id="game_drop" allowtransparency="true" frameborder="0">
        </iframe>
      </div>
    </div>
  </div>
</template>

<script>

import projectdetails from '../../public/projectdetails.json'

export default {
  props: ['id'],
  components: {
    
  },
  data() {
    return {
      project: null,
      publicPath: process.env.BASE_URL
    }
  },
  created() {
    this.project = projectdetails.find(item => item.id == this.id)
  }
}
</script>