<template>
  <router-link :to="{ name: 'CourseDetails', params: { id: course.id } }">
    <div class="courses">
      <div class="courses-card">
        <span>{{ course.date }}</span>
        <h4>{{ course.location }}</h4>
        <h3>{{ course.title }}</h3>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    course: {
      type: Object,
      required:true
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses-card {
  padding: 20px;
  width: 60%;
  cursor: pointer;
  border: 1px solid #39495c;
  margin-bottom: 18px;
}

.courses-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2);
}

</style>
