<template>
  <router-link :to="{ name: 'ProjectDetails', params: { id: project.id } }">
    <div class="projects">
      <div class="projects-card">
        <span>{{ project.date }}</span>
        <h4>{{ project.location }}</h4>
        <h3>{{ project.title }}</h3>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    project: {
      type: Object,
      required:true
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-card {
  padding: 20px;
  width: 60%;
  cursor: pointer;
  border: 1px solid #39495c;
  margin-bottom: 18px;
}

.projects-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2);
}

</style>
